.menu-item-container {
  color: var(p-);

  .menu-icon {
    width: 1rem;
    height: 1rem;
    margin: auto;
    border-radius: 6px;
    margin-inline-end: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    position: relative;
    background-color: transparent;
  }

  .item-label {
    margin: auto 0.5rem;
    font-size: 0.9rem;

    a {
      text-decoration: none;
    }
  }
}
